@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}